body{
	background-color: #C8CCC9;
	font-family: "Arial", "Helvetica", "sans-serif";
}
body >footer{
	background-color: #110401;
	margin: 0;
	padding: 2px 0px;
	color: #FFF;
}

.flexbox {
	display: flex-container;
	background-color: #C8CCC9;
	margin: 0;
	padding: 0;
	align-content: start;
}
.gridbox {
	display: grid;
	background-color: #C8CCC9;
	margin: 0;
	padding: 0;
}

.flexcontent{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0;
}

.flexcontent > aside{
	bottom: 65px;
	right: 0;
	width: 384px;
	position: fixed;
	flex-basis: 20%;
	float: right;
	background-color: #4F5150;
	color: #FFF;
	padding-left: 19px;
	flex-grow: 0;
	flex-shrink: 0;
}
.flexcontent > section {
	flex-basis: 78%;
	background-color: #B3B6B7;
	padding-left: 19px;
	flex-shrink: 1;
	flex-grow: 0;
}

#headerpagina
{
	background-color: #B3B6B7;
	text-align: center;
	line-height: 50px;
	font-size: 25px;
	height:170px;
	flex-grow: 1;
	flex-shrink: 0;
}

#navpagina
{
	background-color: #110401;
	text-align: center;
	line-height: 35px;
	font-size: 20px;
	color: #FFF;
}
nav > ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333
}

#headerpagina > h1:first-letter{
	font-size: 125%;
	color: #997a00
}

.navbar {
	float: left;
}
#navbarcon {
	float: right;
}
#navbarcon > a {
	display: block;
	color: #FFF;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
#navbarcon > a:hover {
	background-color: #000;
}
.navbar > a {
	display: block;
	color: #FFF;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
}
.navbar > a:hover {
	background-color: #000;
}
#logo{
	float: left;
	height: 100px;
	width: 200px;
}

#logoplaatje{
	height: 150px;
	width: 400px;
}
.activenav {
	background-color: #0BBB46;
}

.productimage {
	float: right;
	width: 450px;
	height: 300px;
}

#cookie-statement
{
	position: fixed;
	bottom: 0;
	right: 0;
	color: #FFF;
	background-color: #FA0;
	opacity: 50%;
	padding: 10px;
	line-height: 5px;
	width: 384px;
	text-align: center;
	z-index: 9999;
	font-family: notable;
}

.products {
	height: 420px;
	border: 1px double #000;
	padding: 5px;
}
.redenen{
	line-height: 20px;
	font-size: 20px;
	height: 50px;
}

.flexvideo {
	display: flex;
	justify-content: center;
}

.link {
	/*deze gaat in de product linkjes zodat niet ook de navigatiebalk de onderstaande hover en active en visited instellingen krijgen */
}


.link > a:visited {
	color: #19932D ;
}
.link > a:hover {
	color: #B225C2;
}
.link > a:active {
	color: #19932D ;
}
#video {
	width: 960px;
	height: 600px;
}


.producttext {
	line-height: 5px;
	height: 18px;
}
.productcopyright {
	padding-top: 5px;
}

td:first-child{
	background-color: #FF0 
}
tr:nth-child(2n+1){
	background-color: #FFF;
}
tr:nth-child(2n){
	background-color: #CFF;
}

.gridcontainer {
	display: grid;
	grid-gap: 5px;
	grid-template-areas: 'article2 article1 article3'
						'article2 article1 article3'
						'article5 article1 article3'
						'article5 article1 article3'
						'article5 article1 article4'
						'article5 article1 article4'
						'article5 article1 article4'
						'article5 article6 article6';
}			

.gridaside {
	display: grid;
	grid-gap: 5px;
	grid-template-areas: 'product1 product2 product3'
						'product1 product2 product3';
}			

.article1 {
	grid-area: article1;
}

.article2 {
	grid-area: article2;
}

.article3 {
	grid-area: article3;
}

.article4 {
	grid-area: article4;
}
.article5 {
	grid-area: article5;
}
.article6 {
	grid-area: article6;
}

.product1{
	grid-area: product1;
}

.product2{
	grid-area: product2;
}

.product3{
	grid-area: product3;
}

#data-artikel {
	padding: 10px;
	padding-top: 1px;
}


th {
	background-color: #000;
	color: #FFF;
}
tr > td, th {
	border-width: 1px;
	border-color: #000;
	border-style: double;
	padding-right: 50px;
}

td h3 {
	padding-right: 50px;
	margin: 0;
}

th h2 {
	padding-right: 40px;
	text-align: left;
	margin: 0;
}

.grideusolar {
	display: grid;
	grid-gap: 5px;
	grid-template-areas: 'tabel tabel aside'
						'tabel tabel aside'
						'tabel tabel aside'
						'tabel tabel aside'
						'tabel tabel aside'
						'tabel tabel aside';
}

.tabelgrid {
	grid-area: tabel;
	margin: 10px;
}

.gridaside-eu {
	grid-area: aside;
	display: block;
}

.eufigure{
	width: 270px;
	height: 180px;
	margin-bottom: 100px;
	margin-left: 1px;
	margin-right: 50px;
	padding: 0;
}

.gridaside > p {
	margin-left: 1px;
	margin-right: 50px;
	margin-top: 0;
	padding: 0;
}


@media screen and (max-width: 1179px) {
#headerpagina{
	letter-spacing: 1px;
	word-spacing: 2px;
	font-size: 15px;
	line-height: 30px;
	height: 100px;	
	text-indent: 2px;
}

.productimage{
	float: left;
	width: 180px;
	height: 120px;
	position: relative;
	right: 20px;
	bottom: 10px;
	
}

#logo {
	height: 70px;
	width: 140px;
}

#logoplaatje{
	height: 65px;
	width: 175px;
}


.producttext{
	font-size: 0.9em;
	line-height: 50px;
	position: relative;
	bottom: 25px;
}
.productcopyright{
	position: relative;
	top: 5px;
}

.products{
	height: 420px;
}
h1{
	font-size: 0.8em;
}
h2{
	font-size: 0.8em;
}
h3{
	font-size: 0.8em;
}

.flexcontent > aside{
	width: 384px;
	position: relative;
	flex-basis: 100%;
	float: right;
	background-color: #4F5150;
	color: #FFF;
	padding-left: 5px;
	flex-grow: 0;
	flex-shrink: 0;
	order: 1;
	font-size: 1.3em;
}

.redenen{
	font-size: 0.9em;
}

.flexcontent > section {
	flex-basis: 97%;
	background-color: #B3B6B7;
	padding-left: 19px;
	flex-shrink: 1;
	order: 2;
	flex-grow: 0;
}

.flexvideo {
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
	padding: 25px;
}

#video {
	width: 540px;
	height: 270px;
}

#cookie-statement{
	width: 250px;
}
  }
  
  
  
@media screen and (max-width: 479px) {
#headerpagina{
	letter-spacing: 1px;
	word-spacing: 2px;
	font-size: 10px;
	line-height: 20px;
	height: 100px;	
	text-indent: 2px;
	/* word-indent bestaat niet of pakt hij niet, maar staat wel in de opdracht, kan hem ook niet op google vinden dan krijg ik text-indent steeds dus die heb ik gepakt */
}

#video{
	display: none;
}

.flexvideo {
	display: flex;
	justify-content: center;
	margin: 20px;
	padding: 20px;
}

#video {
	width: 540px;
	height: 270px;
}

.productimage{
	float: left;
	width: 180px;
	height: 120px;
}

#logo {
	height: 70px;
	width: 140px;
}

#logoplaatje{
	height: 65px;
	width: 175px;
}

h1{
	font-size: 0.5rem;
}
h2{
	font-size: 0.5rem;
}
h3{
	font-size: 0.5rem;
}

#cookie-statement{
	width: 150px;
}
  }
  
  
